<section class="history-panel">
  <div class="history-header">
    <div class="history-title">Historique</div>

    <button
      type="button"
      class="nav-btn"
      [class.active]="selectedNodeId === 'root'"
      (click)="onSelectNode('root')"
    >
      Début
    </button>
  </div>

  <div class="history-list">
    <ng-container *ngIf="tree?.mainline as mainline">
      <ng-container
        *ngTemplateOutlet="branchTpl; context: { $implicit: mainline, depth: 0 }"
      ></ng-container>
    </ng-container>

    <div class="root-variations" *ngIf="tree?.rootVariations?.length">
      <div class="variation-block" *ngFor="let variation of tree?.rootVariations">
        <span class="variation-paren">(</span>

        <ng-container
          *ngTemplateOutlet="branchTpl; context: { $implicit: variation, depth: 1 }"
        ></ng-container>

        <span class="variation-paren">)</span>
      </div>
    </div>
  </div>
</section>

<ng-template #branchTpl let-branch let-depth="depth">
  <div class="branch-sequence" [class.nested-branch]="depth > 0">
    <ng-container *ngFor="let move of branch.moves; let i = index">
      <span class="move-number" *ngIf="shouldShowMoveNumber(i, move.side)">
        {{ formatMoveNumber(move.ply, move.side) }}
      </span>

      <button
        type="button"
        class="move-token"
        [class.active]="isSelected(move.nodeId)"
        (click)="onSelectNode(move.nodeId)"
      >
        {{ move.label }}
      </button>

      <ng-container *ngFor="let variation of move.variations">
        <span class="variation-inline">
          <span class="variation-paren">(</span>

          <ng-container
            *ngTemplateOutlet="branchTpl; context: { $implicit: variation, depth: depth + 1 }"
          ></ng-container>

          <span class="variation-paren">)</span>
        </span>
      </ng-container>
    </ng-container>
  </div>
</ng-template>
